/*start variable*/
:root {
  --LinksColor: #f6f6f6;
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --line-height: 1.6;
  --section-padding: 60px;
  --main-duration: 0.3s;
}
/*end variable*/
/*start component*/
.importanr-title {
  font-size: 100px;
  font-weight: 800;
  text-align: center;
  color: #ebeceb;
  margin: 0;
  letter-spacing: -3px;
}
.importanr-title + p {
  margin: -30px 0 0;
  font-size: 20px;
  text-align: center;
  color: #797979;
}
@media (max-width: 768px) {
  .importanr-title {
    font-size: 60px;
  }
  .importanr-title + p {
    margin: -20px;
  }
}
/*end component*/
/* start globel rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* smoll */
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 992px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* start globel rules */
/*start header*/
.header {
  font-size: 20px;
  padding: 20px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 60px;
}
.header .links {
  position: relative;
}
.header .links:hover .icon span:nth-child(2) {
  width: 100%;
}
.header .links:hover ul {
  display: block;
}
.header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.header .links .icon span {
  background-color: #333;
  margin-bottom: 5px;
}
.header .links .icon span:first-child {
  height: 2px;
  width: 30px;
}
.header .links .icon span:nth-child(2) {
  height: 2px;
  width: 50%;
  transition: var(--main-duration);
}
.header .links .icon span:last-child {
  height: 2px;
  width: 30px;
}
.header .links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: var(--LinksColor);
  position: absolute;
  right: 0;
  min-width: 200px;
  top: calc(100% + 15px);
  display: none;
  z-index: 1;
}
.header .links ul::before {
  content: "";
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent var(--LinksColor) transparent;
  right: 5px;
  top: -20px;
}
.header .links ul li a {
  display: block;
  color: #222;
  padding: 15px;
  text-decoration: none;
  transition: 0.5s;
}
.header .links ul li a:hover {
  padding-left: 25px;
}
.header .links ul li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
/*end header*/
/*start landing section*/
.landing {
  background-image: url(../imeges/landing.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}
.landing .intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 320px;
  max-width: 100%;
}
.landing .intro-text h1 {
  color: var(--main-color);
  font-size: 50px;
  margin: 0;
  font-weight: bold;
}
.landing .intro-text p {
  font-size: 20px;
  line-height: 1.8;
}
/*end landing sevtion*/
/*start features*/
.freatures {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: #f6f6f6;
}
.freatures .container {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.freatures .container .feat {
  text-align: center;
  padding: 10px;
  transition: var(--main-duration);
}
.freatures .container .feat:hover {
  box-shadow: rgb(255 255 255) -5px -5px 7px, rgb(94 104 121 / 23%) 5px 5px 5px;
}
.freatures .container .feat i {
  font-size: 50px;
  color: var(--main-color);
}
.freatures .container .feat h3 {
  font-weight: 800;
  margin: 30px 0;
}
.freatures .container .feat p {
  line-height: 1.8;
  color: #777;
  font-size: 17px;
}
/*end features*/
/*start Services section*/
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.services .container-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 100px;
}
.services .container-content .col .srv {
  display: flex;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .services .container-content .col .srv {
    text-align: center;
    flex-direction: column;
  }
}
.services .container-content .srv i {
  color: var(--main-color);
  flex-basis: 60px;
  font-weight: bold;
}
.services .container-content .srv .text {
  flex: 1;
}
.services .container-content .srv .text h3 {
  margin: 0 0 20px;
}
.services .container-content .srv .text p {
  line-height: var(--line-height);
  color: #444;
  font-weight: 300px;
}
.services .container-content .col .imeges {
  text-align: center;
  position: relative;
}
.services .container-content .col .imeges img {
  width: 260px;
}
.services .container-content .imeges::before {
  content: "";
  position: absolute;
  width: 100px;
  height: calc(100% + 100px);
  background-color: var(--secondary-color);
  z-index: -1;
  top: -50px;
  right: 0;
}
@media (max-width: 992px) {
  .imeges-colume {
    display: none;
  }
}
/*end Services section*/
/* start Portfolio */
.portfolio {
  background-color: #f6f6f6f6;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.portfolio .portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 100px;
}
.portfolio .portfolio-content .card {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  transition: var(--main-duration);
}
.portfolio .portfolio-content .card:hover {
  transform: translatey(-10px);
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}
.portfolio .portfolio-content .card img {
  max-width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.portfolio .portfolio-content .card .info {
  padding: 20px;
}
.portfolio .portfolio-content .card .info h3 {
  margin: 0;
}
.portfolio .portfolio-content .card .info p {
  line-height: var(--line-height);
}
/* end Portfolio */
/* start About section */
.about {
  padding-top: var(--section-padding);
  padding-bottom: calc(var(--section-padding) + 60px);
}
.about .about-content {
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .about .about-content {
    flex-direction: column;
    text-align: center;
  }
}
.about .about-content .imeges {
  position: relative;
  width: 250px;
  height: 375px;
}
@media (max-width: 992px) {
  .about .about-content .imeges {
    margin: 0 auto 80px;
  }
}
.about .about-content .imeges::before {
  content: "";
  position: absolute;
  width: 100px;
  height: calc(100% + 80px);
  background-color: #ebeced;
  z-index: -1;
  top: -50px;
  left: -20px;
}
.about .about-content .imeges::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 300px;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  z-index: -1;
  right: -150px;
  top: -40px;
}
@media (max-width: 992px) {
  .about .about-content .imeges::before,
  .about .about-content .imeges::after {
    display: none;
  }
}
.about .about-content .imeges img {
  max-width: 100%;
}
.about .about-content .text {
  flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-child {
  font-weight: bold;
  padding-bottom: 50px;
  line-height: var(--line-height);
}
.about .about-content .text p:last-child {
  line-height: 2;
  color: #777;
}
.about .about-content .text hr {
  width: 50%;
  display: inline-block;
  border-color: var(--main-color);
}
/* end About section */
/*start Contact*/
.contact {
  background-color: #f6f6f6;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.contact .info {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
}
@media (max-width: 768px) {
  .contact .info .lapel,
  .contact .info .link {
    font-size: 25px;
  }
}
.contact .info p {
  font-size: 35px;
  font-weight: 800;
  letter-spacing: -2px;
  margin-bottom: 15px;
  color: var(--secondary-color);
}
.contact .info a {
  display: block;
  font-size: 35px;
  font-weight: 800;
  color: var(--main-color);
  text-decoration: none;
}
.contact .info div:last-child {
  display: flex;
  display: block;
  justify-content: center;
  margin-top: 20px;
  font-size: 16px;
}
.contact .info div:last-child i {
  color: var(--secondary-color);
  margin-left: 10px;
}
/*end Contact*/
/*start footer*/
.footer {
  background-color: var(--secondary-color);
  color: white;
  text-align: center;
  padding: 30px 10px;
  font-size: 18px;
}
.footer span {
  color: var(--main-color);
  font-weight: bold;
}
/*end footer*/
